# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
**/generated_plugin_registrant.dart

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
**/android/captures/
**/android/gradlew*
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/DerivedData/
**/ios/**/Pods/
**/ios/Flutter/*
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/*
**/Pods/
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugins.cmake

# Firebase config (Aman dari GitHub)
android/app/google-services.json
**/android/app/google-services.json
google-services.json